* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.navbar {
  position: absolute;
  width: 100%;
  height: 120px;
  left: calc(50% - 1920px / 2);
  top: 0px;
  background: rgba(94, 93, 88, 0.6);
  z-index: 999;
}
.navbar_container {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 120px;
  left: 380px;
}
.navbar_container_logo {
  width: 233.05px;
  height: 120px;
}
.navbar_container_menu {
  display: flex;
  gap: 21.09px;
  list-style: none;
  justify-content: center;
  height: 100%;
}
.navbar_container_menu_item {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  line-height: 25px;
}
.navbar_container_menu_item:hover {
  cursor: pointer;
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.navbar_container_menu_item img {
  width: 21.09px;
  height: 20px;
}
.home {
  height: 1012px;
  width: 100%;
  background-image: url(./images/Layer\ 1\ 5.png);
  position: relative;
}
.home_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 795px;
}
.home_card_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 213px;
  font-family: "Montserrat";
}
.home_card_up {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.home_card_up span {
  color: #18cfab;
}
.home_card_middle {
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.home_card_down {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}
.home_card_buttons {
  margin-top: 129px;
  display: flex;
  justify-content: center;
  gap: 26px;
}
.home_card_buttons_left {
  width: 169px;
  height: 68px;
  background: #ffffff;
  position: relative;
  border-radius: 5px;
}
.home_card_buttons_left button {
  position: absolute;
  bottom: 0px;
  width: 169px;
  height: 63px;
  background: #18cfab;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.home_card_buttons_right {
  width: 169px;
  height: 68px;
  background: #ffffff;
  position: relative;
  border-radius: 5px;
}
.home_card_buttons_right button {
  position: absolute;
  bottom: 0px;
  width: 169px;
  height: 63px;
  background: #00cbf6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.options {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.option {
  background: #1c2a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 482px;
  height: 377px;
}
.option p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.option:nth-child(1) p {
  color: #18cfab;
}
.option:nth-child(1) img {
  width: 57.54px;
  height: 97px;
}
.option:nth-child(1) {
  gap: 48px;
}
.option:nth-child(2) p {
  color: #ffffff;
}
.option:nth-child(2) img {
  width: 93px;
  height: 75px;
}
.option:nth-child(2) {
  gap: 59px;
  background: #18cfab;
}
.option:nth-child(3) p {
  color: #ffffff;
}
.option:nth-child(3) img {
  width: 60px;
  height: 96px;
}
.option:nth-child(3) {
  gap: 49px;
  background: #1c2a33;
}
.option:nth-child(4) p {
  color: #ffffff;
}
.option:nth-child(4) img {
  width: 99px;
  height: 76px;
}
.option:nth-child(4) {
  gap: 59px;
  background: #18cfab;
}
.service {
  margin-top: 90px;
  margin-bottom: 91px;
}
.service_container {
  margin: 0px auto;
  width: 1160px;
  height: 375px;
}
.service_container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 254px;
  height: 70px;
  margin: 0px auto;
}
.service_container_title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
}
.service_container_title_line {
  width: 91px;
  height: 8px;
  position: relative;
}
.service_container_title_line div:nth-child(1) {
  position: absolute;
  width: 78px;
  height: 1px;
  left: 13px;
  top: 6px;
  background: #18cfab;
}
.service_container_title_line div:nth-child(2) {
  position: absolute;
  width: 75.54px;
  height: 1px;
  left: 2px;
  top: 2px;
  background: #18cfab;
}
.service_container_body {
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.service_container_body_list {
  display: flex;
  list-style: none;
}
.service_container_body_list {
  height: 73px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;

  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
}
.service_container_body_list:nth-child(1) {
  color: #ffffff;
  background: #18cfab;
}
.service_container_body_down {
  margin-top: 27px;
  display: flex;
  gap: 5px;
}
.service_container_body_down p {
  margin-left: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #777777;
}
